<launch>
  <arg name="device_type_camera1"    	default="t265"/>
  <arg name="device_type_camera2"    	default="d435i"/>		<!-- Note: using regular expression. match D435, D435i, D415... -->
  <arg name="serial_no_camera1"         default=""/>
  <arg name="serial_no_camera2"         default=""/>
  <arg name="camera1"                   default="t265"/>
  <arg name="camera2"                   default="d435i"/>
  <arg name="tf_prefix_camera1"         default="$(arg camera1)"/>
  <arg name="tf_prefix_camera2"         default="$(arg camera2)"/>

  <arg name="color_width"               default="640"/>
  <arg name="color_height"              default="480"/>

  <arg name="depth_width"               default="640"/>
  <arg name="depth_height"              default="480"/>

  <group ns="$(arg camera1)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="device_type"           value="$(arg device_type_camera1)"/>
      <arg name="serial_no"             value="$(arg serial_no_camera1)"/>
      <arg name="tf_prefix"         	value="$(arg tf_prefix_camera1)"/>
      <arg name="initial_reset"         value="false"/>

      <!-- fisheye relative -->
      <arg name="enable_fisheye1"       value="true"/>
      <arg name="enable_fisheye2"       value="true"/>
      
      <!-- imu relative -->
      <arg name="enable_gyro"           value="true"/>
      <arg name="enable_accel"          value="true"/>
      <arg name="gyro_fps"              value="200"/>
      <arg name="accel_fps"             value="62"/>
      <arg name="unite_imu_method"      value="linear_interpolation"/> <!-- add by leather -->

      <!-- pose relative -->
      <arg name="enable_pose"           value="true"/>

      <arg name="topic_odom_in"         value=""/>
      <arg name="calib_odom_file"       value=""/>
    </include>
  </group>

  <group ns="$(arg camera2)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="device_type"           value="$(arg device_type_camera2)"/>
      <arg name="serial_no"             value="$(arg serial_no_camera2)"/>
      <arg name="tf_prefix"		value="$(arg tf_prefix_camera2)"/>
      <arg name="initial_reset"         value="true"/>

      <arg name="filters"               value="pointcloud"/>

      <!-- color image relative -->
      <arg name="enable_color"          value="false"/>                 <!-- add by leather -->
      <arg name="color_width"           value="$(arg color_width)"/>
      <arg name="color_height"          value="$(arg color_height)"/>
      <arg name="color_fps"             value="30"/>                   <!-- add by leather 6 15 30-->

      <!-- depth image relative -->
      <arg name="enable_infra1"         value="true"/>
      <arg name="enable_infra2"         value="true"/>
      <arg name="enable_depth"          value="true"/>
      <arg name="align_depth"           value="false"/>
      <arg name="clip_distance"         value="-2"/>

      <arg name="depth_width"           value="$(arg depth_width)"/>
      <arg name="depth_height"          value="$(arg depth_height)"/>
      <arg name="infra_width"           value="$(arg depth_width)"/>
      <arg name="infra_height"          value="$(arg depth_height)"/>
      <arg name="depth_fps"             value="30"/>
      <arg name="infra_fps"             value="30"/>

      <!-- imu relative -->
      <arg name="enable_gyro"           value="true"/>                <!-- add by leather -->
      <arg name="enable_accel"          value="true"/>
      <arg name="gyro_fps"              value="200"/>
      <arg name="accel_fps"             value="63"/>
      <arg name="unite_imu_method"      value="linear_interpolation"/> <!-- add by leather -->

    </include>
  </group>
  <node pkg="tf" type="static_transform_publisher" name="t265_to_d400" args="0 0 0 0 0 0 /$(arg tf_prefix_camera1)_link /$(arg tf_prefix_camera2)_link 100"/>
</launch>
